body {
	background-color: #000;
	color: #fff;
	font-size: 32px;
}

h1 {
	font-size: 3.5em;
	margin-top: 25px;
}

h2 {
	font-size: 2.2em;
	margin-top: 50px;
	margin-bottom: 25px;
}

h3 {
	font-size: 1.2em;
	margin-top: 30px;
	margin-bottom: 15px;
}

a {

	&.btn-primary:hover {
		background-color: #fff;
		color: #0062cc;
	}

	color: yellow;

	&:hover,
	&:focus {
		color: orange;
	}

	&:focus {
		border: solid 1px red;
		font-size: 1.1em;
	}
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media (max-width: 768px) {

	body {
		font-size: 21px;
	}

	h1 {
		font-size: 2.7em;
	}

	h2 {
		font-size: 2em;
	}
}